.today {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  flex: 5 5;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    flex-direction: column;
    flex: 3 3;
    justify-content: space-between;
  }

  &__city {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__current {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  &__curTemp {
    font-size: 4rem;
  }
  
  &__condition {
    font-size: 2rem;
    margin-left: 15px;
  }

  &__detail {
    margin-top: 5px;
    display: flex;   
    flex-direction: column;
    color: $light-gray;
  }

  &__detail-item{
    padding-top: 10px;
    display: flex;
    align-items: center;
  }
  .item-box{
    display: flex;
    align-items: center;
    width: 100px;
    span{
      margin-left: 5px;
    }
  }
}