// COLOR
$shadow: .3rem .3rem .6rem#c8d0e7, 
-.2rem -.2rem .5rem #fff;

$inner-shadow: inset .2rem .2rem .5rem #c8d0e7, 
inset -.2rem -.2rem .5rem #fff;

$background: #F4F5FB;
$dark-gray:#343a40;
$light-gray: #495057;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #E4EBF5;
}
// COMMON STYLE
button{
  background-color: transparent;
  border: none;
}
// FONT
h2{
  font-size: 4rem;
}
h3{
  font-size: 1.7rem;
}
.today{
  font-size:  1.1rem;
}
.forcast{
  font-size: 1rem;
  span{
    color: $light-gray;
  }
}


@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  @include flex;
  min-width:  100vw;
  min-height: 100vh;
}
.App-wrapper{
  @include flex;
  width: 900px;
  height: 600px;
  box-shadow:.8rem .8rem 1.4rem #c8d0e7, 
  -.2rem -.2rem 1.8rem #fff;
  border-radius: 20px;
  padding: 40px;
  flex-direction: column;
}
@import'./containers/Containers.scss';
@import'./components/Search.scss';
@import'./components/Today.scss';
@import'./components/ForecastItem.scss';